@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: whitesmoke;
    overflow-x: hidden;
}
.welcome{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    padding-left: 413px;
    padding-top: 108px;
}
.logo{
    padding-left: 1px;
    padding-right: 0px;
    padding-bottom: 35px;
}
#header{
    display: flex;
    background-color: #f4511e;

}
.container{
    display: flex;

}
.choosing{
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: hidden;
    max-width: 1600px;
    width: 100%;
    grid-wrap: wrap;
    object-fit: cover;
    justify-content: center;
}
img{
    padding: 25px;
}
img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition:0.5s;
}
.content:hover{
    opacity: 3;
}
.food-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: hidden;
    max-width: 1600px;
    width: 100%;
    grid-wrap: wrap;
    object-fit: cover;
    justify-content: center;
    /* background: red; */
}
.content{
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
#menu img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -20px;
}
.title p{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: indianred;
    margin: 0;
}
.border{
    width: 80px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: coral;
}

.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 12px 0;
    color: rgb(128, 129, 129);
    font-weight: 300;
    
}
.menu-item a:hover{
    background: rgb(250, 212, 218);
}
#food-items{
    background: whitesmoke;
    overflow: auto;
    height: calc(100vh - 86px);
}

::-webkit-scrollbar{
    display: none;
}
.add-box i{
    font-size: 20px;
}
.util i,.user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid #241d1e;
    padding: 8px 16px;
    color: #1a1617;
    border-radius: 20px;
    cursor: pointer;
}
.util i:active{
    color: white;
    background: crimson;
}   